# IntelliJ / Android Studio
.idea/
*.iml

# Gradle
.gradle/

# Local configuration
local.properties

# Build folders
/build
**/build/

# Native build
.externalNativeBuild/
.cxx/

# Captures
/captures

# macOS
.DS_Store
